doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Bearbike. Las Vegas
        meta(name="description" content="")
        meta(name="keywords" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main-style.css")

    body
        header
            .header-logo
            nav
                ul
                    each item in menu
                        li
                            a(href= item.url)= item.title
            .menu-btn
        main
            block content

        footer
            .wrapper
                nav.footer-menu
                    ul
                        each item in menuFooter
                            li
                                a(href="#")= item.title
                .footer-logo
                    img(src="./images/footer-logo.svg" alt="Bearbike" width="108" height="94")
                .footer-social
                    ul
                        each item in footerSocial
                            li
                                a(href="#")
                                    img(src= item.icon alt="" width="20" height="20")


        script(src="js/main-script.js")
