.about-brand {
  background-color: $gray-98;
  margin-top: 40px;
  padding: 40px 0;

  @include responsive(portrait) {
    padding: 56px 0;
  }

  @include responsive(landscapedesktop) {
    margin-top: 72px;
    padding: 72px 0;
  }

  &__info {
    max-width: 460px;
    margin: 0 auto;
    
    @include responsive(landscapedesktop) {
      max-width: 610px;
    }
  }

  img {
    display: block;
    margin: 0 auto 20px;

    @include responsive(portrait) {
      margin-bottom: 32px;
    }

    @include responsive(landscapedesktop) {
      margin-bottom: 48px;
      width: 412px;
      height: auto;
    }
  }

  p {
    font-size: 18px;
    margin: 0;

    @include responsive(portrait) {
      font-size: 19px;
    }

    @include responsive(landscapedesktop) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}
