body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #ffffff;
  color: $gray-32;
  font: normal 16px/1.35 "Inter", sans-serif;

  &.menu-opened {
    .menu-btn {
      @include responsive(mobile) {
        background: #fff url(../images/menu-close.svg) 0 0 no-repeat;
      }
    }

    .header-menu {
      @include responsive(mobile) {
        position: absolute;
        top: 60px;
        bottom: 0;
        background-color: #ffffff;
        width: 100%;
        left: 0;
        display: flex;
        flex-flow: column;
      }

      nav {
        @include responsive(mobile) {
          width: 100%;
        }

        a {
          @include responsive(mobile) {
            padding: 16px 24px;
          }
        }

      }
      ul {
        @include responsive(mobile) {
          display: flex;
        }
      }

    }

    .header-social {
      @include responsive(mobile) {
        display: flex;
      }
    }
  }
}

.header-social {
  display: none;

  @include responsive(mobile) {
    margin-top: auto;
  }

  ul {
    @include responsive(mobile) {
      display: flex;
      flex-flow: wrap;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $yellow;
    min-width: 32px;
    min-height: 32px;
    margin-left: 12px;

    @include responsive(mobile) {
      margin-bottom: 24px;
      padding: 0;
    }
  }
}

.wrapper {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;

  @include responsive(mobile) {
    padding: 0 24px;
  }
}

main {
  padding-bottom: 72px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @include responsive(mobile) {
    padding: 20px 24px;
  }

  @include responsive(portrait) {
    padding: 32px 24px;
  }

  @include responsive(landscapedesktop) {
    max-width: 1320px;
    padding: 40px;
    margin: 0 auto;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;

    @include responsive(mobile) {
      display: none;
      flex-flow: column;
    }
  }

  li {
    list-style: none;
    background-color: #ffffff;

    a {
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus,
      &:active {
        background-color: $gray-8;
        color: $yellow;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  a {
    color: $gray-32;
    padding: 8px 16px;
    text-decoration: none;
    display: block;

    @include responsive(desktop) {
      font-size: 20px;
      padding: 8px 20px;
    }
  }
}

.header-logo {

  @include responsive(device) {
    width: 30px;
    height: 30px;
    background: #fff url(../images/header-logo-mobile.svg) 0 0 no-repeat;
  }

  @include responsive(portrait) {
    width: 51px;
    height: 52px;
    background-size: 51px 52px;
    margin-right: 16px;
  }

  @include responsive(landscapedesktop) {
    margin-right: 54px;
    width: 202px;
    height: 52px;
    background: #fff url(../images/header-logo.svg) 0 0 no-repeat;
  }
}

.menu-btn {
  @include responsive(mobile) {
    margin-left: auto;
    width: 24px;
    height: 24px;
    background: #fff url(../images/menu.svg) 0 0 no-repeat;
  }

  @include responsive(portraitdesktop) {
    display: none;
  }
}

footer {
  background-color: $gray-98;
  padding: 40px 0;
  margin-top: auto;
  box-sizing: border-box;

  ul {
    display: flex;
    padding: 0;
    margin: 0;

    @include responsive(portrait) {
      flex-flow: wrap;
    }
  }

  li {
    list-style: none;
  }

  .wrapper {
    display: flex;
    align-items: center;

    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }
}

.footer-logo {
  @include responsive(desktop) {
    margin-right: 80px;
  }

  @include responsive(portraitdesktop) {
    order: 1;
  }
}

.footer-menu {
  @include responsive(mobile) {
    margin-bottom: 40px;
    width: 100%;
  }

  @include responsive(portrait) {
    order: 2;
    margin-left: 48px;
  }

  @include responsive(landscapedesktop) {
    order: 2;
  }

  a {
    color: $gray-32;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  ul {
    @include responsive(mobile) {
      display: flex;
      flex-flow: column;
    }
  }

  li {
    @include responsive(portrait) {
      width: 50%;
      max-width: 170px;
    }
  }
}

.footer-info {
  @include responsive(mobile) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.footer-social {
  margin-left: auto;

  @include responsive(mobile) {
    max-width: 88px;
  }

  @include responsive(portraitdesktop) {
    order: 3;
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    @include responsive(mobile) {
      display: flex;
      flex-flow: wrap;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $yellow;
    min-width: 32px;
    min-height: 32px;
    margin-left: 12px;

    @include responsive(mobile) {
      margin-bottom: 12px;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: $gray-8;
  margin: 0;
}

h1 {
  font-size: 32px;

  @include responsive(portrait) {
    font-size: 40px;
  }

  @include responsive(landscapedesktop) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;

  @include responsive(portrait) {
    font-size: 32px;
  }

  @include responsive(landscapedesktop) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;

  @include responsive(portrait) {
    font-size: 24px;
  }

  @include responsive(landscapedesktop) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;

  @include responsive(portrait) {
    font-size: 20px;
  }

  @include responsive(landscapedesktop) {
    font-size: 24px;
  }
}
