extends templates/layout

block content
	.wrapper
		.main-info
			h1 Велосипед Las&nbsp;Vegas&nbsp;4.0 от&nbsp;BearBike
			.main-info__content
				img(src="./images/las-vegas.png" alt="Bearbike Las Vegas" width="272" height="170")
				.main-info__descr
					p Идеальный выбор для начинающих велолюбителей, претендующих на&nbsp;скоростную езду.
					.main-info__price-btn
						p.price 25 000 ₽
						button Купить

			.main-info__text
				p Велосипед Las Vegas 4.0 — фикс и синглспид в одном лице. Главные достоинства велосипеда — надежная конструкция, привлекательная цена и яркое оформление корпуса.
				p Отсутствие сложной трансмиссии стало его преимуществом: небольшой вес, легкость в использовании и техобслуживании, хорошие скоростные качества и надежность стальной рамы.
				p Сменить режим просто — достаточно переставить заднее колесо. При фиксированной передаче колеса будут вращаться вместе с педалями. Каждый выбирает сам в каком режиме двигаться.
				p Колеса 28 дюймов делают велосипед быстрым и маневренным, а высококачественная втулка Novatec обеспечивает хороший накат.

			.main-info__details
				h2 Детали велосипеда
				.main-info__details-list
					each item in details
						.main-info__details-item
							img(src=item.image alt=item.title width="272" height="288")
							h4= item.title
							p= item.text

	.about-brand
		.wrapper
			.about-brand__info
				img(src="./images/bear-bike.svg" alt="Bearbike" width="272" height="152")
				p BearBike — это бренд, сочетающий в себе индивидуальность и надежность, тонкое чувства юмора и уверенность. Мы делаем отличные и доступные городские велосипеды для Людей. Ярких и целеустремленных, ценящих комфорт, смелых и свободных.

	.wrapper
		.characteristic
			h2 Характеристики

	.about-mission
		.wrapper
			.about-mission__content
				img(src="./images/bearbike-mission.jpg" alt="Миссия BearBike" width="270" height="280")
				.about-mission__info
					h3 Миссия BearBike
					p Современный и продвинутый город невозможно представить без развитой велокультуры. Велосипеды – это не просто экологичное средство передвижения, это элемент действительности, отражающий особый образ жизни. Велосипеды дают большую степень свободы и позволяют иначе почувствовать город и свое место в нем.
					p В BearBike мы нашли способ внести вклад в продвижение велосипедной культуры: мы создаем велосипеды, возбуждающие желание кататься. Мы создаем их для того, чтобы они стали яркой и гармоничной частью вашей повседневной жизни.
					a(href="#" class="about-mission-link") Подробнее

	.wrapper
		.accessories
			h3 Аксессуары
