extends templates/layout

block content
	.wrapper
		.main-info
			h1 Велосипед Las Vegas 4.0 от BearBike
			.main-info__content
				img(src="./images/las-vegas.png" alt="Bearbike Las Vegas" width="610" height="381")
				.main-info__descr
					p Идеальный выбор для начинающих велолюбителей, претендующих на&nbsp;скоростную езду.
					p.price 25 000 ₽
					button Купить

